$primary-blue:#4A90E2;
$secondary-blue:#00408B;
$hover-blue:#3982D7;

$primary-red:#D0021B;

$primary-yellow:#F5A623;
$secondary-yellow:#FFF2DC;

$hover-white:#FDFDFD;

$black:black;
$gray-900:#757575;
$gray-800:#9B9B9B;
$gray-700:#C8C8C8;
$gray-500:#E1E1E1;
$gray-300:#F2F2F2;
$white:white;